<template>
  <div class="flex flex-col gap-8 h-full w-full relative">
    <div class="absolute right-0">
      <img
        v-if="!dropDown"
        @click="dropDown = true"
        src="../assets/menu-button-of-three-horizontal-lines.png"
        alt=""
        class="h-6"
      />
      <img
        v-else
        @click="dropDown = false"
        src="../assets/close.png"
        alt=""
        class="h-6"
      />
    </div>
    <div
      v-if="dropDown"
      class="bg-white px-4 rounded-md flex flex-col absolute right-0 top-10 py-4"
    >
      <button class="h-8 w-24 p-0" @click="loginPage">Setting</button>
      <button class="h-8 w-24 p-0" @click="loginPage">Logout</button>
    </div>
    <img
      src="../assets/logo-file-white-2.png"
      alt=""
      class="company-logo w-48 mx-auto"
    />
    <div class="w-full max-w-[520px] mx-auto flex flex-col gap-4">
      <div class="flex gap-4 items-center h-10">
        <label for="" class="text-lg">Noise Cancellation</label>
        <input type="checkbox" class="h-6 w-6" />
      </div>
      <div class="text-start">
        <label for="" class="text-lg">Microphone</label>
        <div class="flex w-full bg-white mt-2">
          <div class="w-12 flex justify-center items-center">
            <img src="../assets/mic.svg" alt="" class="" />
          </div>
          <select name="" id="" class="audio-out w-full h-12 px-4">
            <template v-for="device in this.available_device" :key="device">
              <option v-if="device.label" value="">
                {{ device.label }}
              </option>
            </template>
          </select>
        </div>
      </div>
      <div class="text-start">
        <label for="" class="text-lg">Speaker</label>
        <div class="flex w-full bg-white mt-2">
          <div class="w-12 flex justify-center items-center">
            <img src="../assets/volume.png" alt="" class="h-5" />
          </div>
          <select name="" id="" class="audio-out w-full h-12 px-4">
            <template v-for="device in this.available_device" :key="device">
              <option v-if="device.label" value="">
                {{ device.label }}
              </option>
            </template>
          </select>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="w-full">
          <button>Check</button>
          <!-- <img src="../assets/volume.png" alt="" class="h-6 w-6" /> -->
        </div>
      </div>

      <!-- <div>
        <button>Mic Check</button>
      </div> -->
      <!-- <button id="startBtn">noise</button> -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      available_device: [],
      dropDown: false,
    };
  },
  mounted() {
    navigator.mediaDevices
      .getUserMedia({ audio: true, video: false })
      .then((el) => {
        navigator.mediaDevices
          .enumerateDevices()
          .then((devices) => {
            devices.forEach((device) => {
              this.available_device.push(device);
              console.log(device);
              // console.log(
              //   `${device.kind}: ${device.label} id = ${device.deviceId}`
              // );
            });
          })
          .catch((err) => {
            console.error(`${err.name}: ${err.message}`);
          });
      });
  },
  methods: {
    audioDeviceCall() {
      const promise = navigator.mediaDevices.getUserMedia({
        audio: true,
        video: false,
      });

      promise.then((stream) => {
        console.log(stream);
        const startBtn = document.querySelector("#startBtn");
        startBtn.disabled = stream.active;
      });
    },
    loginPage() {
      this.$router.push({ name: "home" });
    },
  },
};
</script>

<style></style>
