<template>
  <div class="w-full h-screen relative">
    <div class="flex justify-between relative z-10 items-center h-full">
      <div class="w-full h-full flex items-center justify-center">
        <div
          class="min-w-[420px] max-w-[520px] min-h-[320px] max-h-[620px] rounded-md shadow-lg border bg-white bg-opacity-5 border-purple-500"
        >
          <form
            @submit.prevent="register"
            class="h-full p-4 flex flex-col gap-10"
          >
            <div class="w-full flex justify-center">
              <img
                src="../assets/logo-file-white-2.png"
                alt=""
                class="company-logo w-48 mx-auto"
              />
            </div>
            <div class="flex flex-col gap-4">
              <div class="flex text-start px-2 w-full flex-col">
                <label for="name">Organization Name</label>
                <input
                  type="text"
                  name=""
                  id="name"
                  placeholder="Enter Organization Name"
                  required
                  class="border h-[40px] rounded-md border-white shadow-md px-2 pt-1 ring-1 ring-inset ring-white focus:ring-white focus:outline-0 focus:outline-none w-full"
                />
              </div>
              <div class="flex text-start px-2 w-full flex-col">
                <label for="email">Organization Email</label>
                <input
                  type="email"
                  name=""
                  id="email"
                  placeholder="Please enter your email"
                  required
                  class="border h-[40px] rounded-md border-white shadow-md px-2 pt-1 ring-1 ring-inset ring-white focus:ring-white focus:outline-0 focus:outline-none w-full"
                />
              </div>
              <div class="flex px-2 flex-col text-start">
                <label for="password">Team Size</label>
                <select
                  name=""
                  id=""
                  class="border h-[40px] rounded-md border-white shadow-md px-2 pt-1 ring-1 ring-inset ring-white focus:ring-white focus:outline-0 focus:outline-none w-full"
                >
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                </select>
              </div>
              <div>
                <button
                  type="submit"
                  class="bg-[#000f2f] text-white h-[35px] w-[140px] rounded-lg pt-1"
                >
                  Submit
                </button>
              </div>
              <router-link :to="{ name: 'home' }">
                <span class="text-white hover:text-indigo-950">Login</span>
              </router-link>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    register() {
      this.$router.push({ name: "home" });
    },
  },
};
</script>

<style></style>
